/* Estilos principales del css */
:root {
  /* Estilo de la letra */
  /* --fuentePrincipal: "Roboto", sans-serif; */
  --fuentePrincipal: "Raleway", sans-serif;

  /* Estilo de los colores */
  --colorNegro: #000000;
  --colorBlanco: #ffffff;
  --colorVerde: #00a778;
  --colorVerdeOpaco: #e8f3ff;
  --colorAzul: #0095de;
  --colorFondo: #f3f3f0;
  --colorFacebook: #3a599d;
  --colorTwitter: #00c1ff;
  --colorInstagram: #d42f99;
  --colorYouTube: #ff380b;
  --colorGris: #b8b8b6;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 15px;
}
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  background-color: var(--colorFondo);
  font-weight: 400;
  line-height: 1.5;
  min-height: 100%;
}
img {
  max-width: 100%;
}

/* Diseño del header */

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2) !important;
  height: 102px;
  z-index: 996;

  /* line-height: 102px; */
}

#btnMenu {
  display: none;
}
header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
}
header label:hover {
  cursor: pointer;
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 430px;
}
.menu li {
  flex-grow: 1;
}
.subMenu >ul >li >a{
  padding: 15px 15px;
}

.children:hover {
  color: var(--colorBlanco);

}


.subMenu .children li i {
  margin-top: 10px;
}

.menu li a {
  display: block;
  padding: 40px 15px 40px 15px;
  color: var(--colorBlanco);
  text-decoration: none;
  text-align: right;
  font-size: 1rem;
  font-weight: 500;
}
.menu li a:hover {
  color: var(--colorAzul);
}
.subMenu > ul {
  margin-left: 0px;
}
.subMenu > ul > li > a {
  width: 100%;
  text-align: left;
}
.menu li ul :hover> .children{
  display: block;
}
.subMenu > ul > li > a > b {
  padding: 10px;
}
.fa-bars {
  color: var(--colorNegro);
  font-size: 2rem;
}
.menu li ul {
  background: #2b406d;
  position: absolute;
  color: var(--colorBlanco);
  font-size: 2rem;
  width: 20%;
  display: none;
  min-width: 140px;
  text-align: center;
  z-index: 100;
}
.menu li ul :hover > .children {
  display: block;
}
.menu li ul:hover {
  display: block;
}
.menu li:hover > ul {
  display: block;
}

.header nav ul li:hover .children {
  display: none;
}
.fa-angle-down {
  font-size: 1.5em;
  float: right;
}
.msg {
  display: none;
}
.buscarResponsive {
  display: none;
}

#flechaUno,
#flechaDos {
  display: none;
}
@media (max-width: 768px) {
  #flechaUno,
  #flechaDos {
    display: inline;
  }
  .msg {
    display: block;
    position: absolute;
    text-align: center;
    border-left-width: 2px;
    border-left-style: solid;
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0px;
    margin: 10px 15px;
    padding-left: 15px;
    left: 90px;
  }
  .buscarResponsive {
    display: block;
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    padding: 0px;
    margin: 10px 15px;
    background: var(--colorNegro);
    left: 295px;
    border: none;
    width: 30px;
    height: 30px;
  }
  .buscarResponsive .fa-search {
    color: var(--colorBlanco);
  }
}
@media (max-width: 768px) {
  header {
    height: 50px;
  }
  header label {
    display: block;
  }

  .menu {
    position: absolute;
    background: var(--colorBlanco);
    width: 100%;
    margin-left: -100%;
    transition: all 1s;
    z-index: 100;
    top: 50px;
  }
  .menu li a {
    padding: 15px 15px;
  }
  .menu ul a {
    color: var(--colorNegro);
  }
  
  .menu > ul > li {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .menu > ul {
    margin-left: 0px;
  }

  .menu ul {
    flex-direction: column;
  }
  .menu li ul {
    width: 100%;
  }

  .menu li {
    border-bottom: 1px solid var(--colorBlanco);
  }

  .menu li a {
    text-align: left;
    padding: 15px 15px;
  }

  #btnMenu:checked ~ .menu {
    margin: 0;
  }
  .header nav ul li .children {
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

/* Logo */
.logo {
  display: block;
  position: absolute;
  left: 55px;
  top: 10px;
  width: 5.5%;
}
@media (max-width: 768px) {
  .logo {
    top: 2px;
    width: 2.4em;
  }
}
/* Fin del diseño del header */

/* Barra búsqueda */
.hero {
  top: 10px;
  margin: 10px;
  height: 60px;
}

.busqueda {
  float: right;
  padding: 15px;
}
.busqueda > fieldset > button {
  margin-left: -3px;
}
.busqueda input {
  width: 250px;
  height: 30px;
  border: none;
}
.busqueda button {
  background: var(--colorNegro);
  border: none;
  width: 40px;
  height: 30px;
  left: 0;
  margin-left: -3px;
}

.fa-search {
  color: var(--colorBlanco);
}

@media (max-width: 768px) {
  .busqueda {
    width: 100%;
    display: block;
    margin: auto;
  }
  .hero {
    display: none;
  }
}
/* Fin del diseño de barra de búsqueda */

/* Banner de la imagen */
.banner {
  top: 0;
  width: 100%;
}
.banner img {
  width: 100%;
  height: 350px;
}
@media (max-width: 768px) {
  .banner img {
    height: 120px;
  }
}
/* Fin del diseño del banner */

/* Botón de arriba */
.arriba {
  display: none;
  padding: 5px 20px 5px 20px;
  background-color: #007dd3;
  font-size: 2.1em;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 30px;
  text-transform: none;
  z-index: 2;
}
.arriba i {
  color: #ffffff;
}
/*Final del diseño deñ botón arriba */

/* Aside */

aside {
  padding: 40px 40px 30px 40px;
  width: 20em;
  float: right;
  margin: 30px 100px 0px 5px;
}

@media (max-width: 768px) {
  aside {
    height: auto;
  }
}

iframe {
  width: 105%;
}
aside p {
  font-size: 1.2em;
  font-weight: bold;
}

.iframe {
  padding: 20px 0px 40px 0px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.contenedorContactos {
  padding-bottom: 20px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.carreras {
  padding: 20px 0px 0px 0px;
  margin: 0px -120px 0px 0px;
}

@media (max-width: 768px) {
  .carreras {
    margin: 0px -50px 0px 0px;
  }
}

.carreras p {
  font-weight: bold;
}

.carreras ul {
  padding: 0px 0px 0px 40px;
}
.carreras ul li {
  padding: 5px;
}
.carreras ul li a {
  /* font-size: 1.1em; */
  font-weight: bold;
  text-decoration: none;
  color: var(--colorNegro);
}

.carreras ul li a:hover {
  color: var(--colorAzul);
}

/* Contenedor de contactos */
.contenedorContactos li {
  display: inline;
}

/* Fondos de colores de cada etiqueta de contacto */
.contenedorContactos li .fas.fa-globe {
  background-color: blue;
}

.contenedorContactos li .fab.fa-facebook {
  background-color: var(--colorFacebook);
}

.contenedorContactos li .fab.fa-twitter {
  background-color: var(--colorTwitter);
}

.contenedorContactos li .fab.fa-instagram {
  background-color: var(--colorInstagram);
}

.contenedorContactos li .fab.fa-youtube {
  background-color: var(--colorYouTube);
}

/* ----------------------------------------------- */
.contenedorContactos li a {
  padding: 10px;
  font-size: 1.5em;
  color: var(--colorBlanco);
  text-decoration: none;
}

.contenedorContactos {
  grid-row: 2/2;
  grid-column: 3 / 3;
}
/*  */

/* --------------------------- */

/* ---------------------------- */

/* Mensaje de Bienvenida */
.letras {
  color: var(--colorBlanco);
  font-weight: bold;
  padding-top: 300px;
  font-size: 1em;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Mensaje responsive */

/* -------------------------- */
.texto {
  padding: 20px 0px 0px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  /* padding: 120px; */
}

.textoIndex {
  z-index: 1;
  top: 0;
  text-align: center;
  font-weight: bold;
  /* font-size: 3.5em; */
}

/* Estilo para rotar la flecha del sub-menú */
.rotar {
  transform: rotate(180deg);
  transition: 0.4s all;
}

.rotarAbajo {
  transform: rotate(0deg);
  transition: 0.4s all;
}

/* ----------------------------- */

/* Menu responsive */
@media (max-width: 768px) {
  aside {
    float: none;
    margin: 20px;
    display: inline-flex;
    position: initial;
  }
  iframe {
    width: 100%;
  }
  .carreras ul {
    font-size: 0.9em;
    padding: 0px 0px 0px 0px;
    /* margin: 0; */
  }
  .carreras ul li a:focus {
    color: var(--colorAzul);
  }
}

/*  */

@media (max-width: 768px) {
  .letras {
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .texto {
    padding: 20px 0 20px 0px;
    font-size: 1.5rem;
    position: relative;
  }
  .textoIndex {
    font-size: 2.2rem;
    position: relative;
  }
}

/* Contenido de las imágenes */

.imagen {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.informacion {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: var(--colorNegro);
  font-size: 2em;
}

.info {
  font-size: 1rem;
}

.contenedor:hover .informacion {
  opacity: 1;
}

/* Boton de ver mas */
.button {
  text-align: center;
  padding: 10px;
  margin: 50px;
}
.button a {
  background-color: var(--colorAzul);
  color: var(--colorBlanco);
  text-decoration: none;
  padding: 20px 20px;
  font-weight: bold;
  border-radius: 10rem;
}

.fiestas {
  /* margin-top: 40px; */

  background-color: var(--colorVerdeOpaco);
  padding: 40px 0px 40px 0px;
}

.text2 {
  color: var(--colorBlanco);
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
.contenedorFiestas {
  align-self: center;
  background-color: var(--colorVerde);
  border-radius: 0.5rem;
}

.contenedorFiestas:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.contenedorFiestas:hover .informacion {
  opacity: 100;
  color: var(--colorNegro);
}
.contenedorFiestas img {
  width: 65%;
  display: block;
  margin: 20px auto auto auto;
}

@media (max-width: 768px) {
  .contenedorFiestas {
    /* Desplazar las columnas */
    grid-column: 1/5;
  }
  .button {
    padding: 10px;
  }
  .servicios {
    padding: 40px 0px 40px 0px;
  }
}

/* Slider  de los servicios publicos */

* {
  box-sizing: border-box;
}

.slideshow-container {
  /* max-width: 350px; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #000000;
  font-size: 1em;
  padding: 8px 100px;
  bottom: 8px;
  width: 100%;
  text-align: left;
  line-height: 2.1;
}
.slideshow-container {
  max-width: 800px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: #000000;
  font-weight: bold;
  font-size: 3em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

.servicios {
  background: #e0e2df;
  padding: 40px;
}
.textoServicios {
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 768px) {
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 20%);
    padding: 5px;
  }

  .textoServicios {
    text-align: center;
    font-size: 1.3em;
  }
  .slideshow-container {
    max-width: 700px;
  }
  .text {
    color: #000000;
    font-size: 1em;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: left;
  }
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 20%);
  padding: 5px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--colorNegro);
  font-size: 12px;
  padding: 8px 12px;
  float: left;
  top: 0;
  padding-bottom: 10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Estilos de la view de alcaldiaMunicipal.php */

.alcaldia img {
  width: 45%;
}

.alcaldia p {
  font-size: 1.2rem;
}

/* ----------------------------------------------------------- */

/* ------------------------------------------------------------ */
/* Estilos de la view departamentos */

.deptos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-left: 20px;
  margin-right: 20px;
}

.deptos a {
  text-align: center;
}
.contenedor a {
  text-decoration: none;
}

/* -------------------------------------------------------------- */

/* Estilos de los departamentos */

.imagenDepto {
  width: 50%;
  /* align-self: center; */
  margin: auto;
  display: block;
}

.contenido {
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  text-align: justify;
  margin: 30px 30em 20px 40px;
}
@media (max-width: 768px) {
  .imagenDepto {
    width: 100%;
    position: relative;
    /* bottom: 10px; */
  }
  .contenido {
    text-align: justify;
    margin: 20px;
  }
  .oficina {
    position: relative;
    text-align: justify;
  }
}

/* Estilo de tablas */
.table {
  text-align: center;
}
.imagenes {
  float: left;
}

@media (max-width: 768px) {
  .imagenes {
    width: 100%;
  }
}

/* Estilo de la view de regidores */
.regidores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.imagenRegidor {
  width: 50%;
  align-self: center;
}

@media (max-width: 768px) {
  .contenedorRegidor {
    grid-column: 1/4;
    margin: 20px;
  }
  .imagenRegidor {
    width: 100%;
    position: relative;
  }
}

/* ---------------------------------------------------- */
/* -------- Estilo de  educación superior  --------------*/
/* -------- Estilo de lugares turisticos----------------- */
/* ---------------------------------------------------- */
.lista-universidades,
.lista-lugares {
  padding: 20px;
}
.educacionSuperior,
.lugares {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.educacionSuperior p {
  text-align: center;
  color: var(--colorNegro);
  line-height: 1.2;
  font-weight: bolder;
  padding: 1rem 0px 0px 0px;
}

.lugares p {
  text-align: center;
  color: var(--colorNegro);
  line-height: 1.2;
  font-weight: bolder;
  padding: 1rem 0px 0px 0px;
}
@media (max-width: 768px) {
  .educacionSuperior {
    margin: 20px 0px 0 10px;
  }
}
.educacionSuperior p:hover {
  color: var(--colorBlanco);
}
.educacionSuperior .contenedor {
  background: var(--colorAzul);
  padding: 1rem;
}

.lugares .contenedor {
  background: var(--colorAzul);
  padding: 1rem;
}
.educacionSuperior .lugares .contenedor img {
  height: 150px;
  width: 150px;
}

.educacionSuperior .nombreUniversidad {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .educacionSuperior,
  .lugares {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
  }
  .educacionSuperior .contenedor img {
    height: 354px;
    width: 354px;
  }

  .lugares .contenedor img {
    height: 354px;
    width: 354px;
  }
}
/* ------------------------------------------------------ */

/* Contenido universidad */
.universidad {
  padding: 0px 0px 60px 0px;
}

@media (max-width: 768px) {
  .universidad,
  .turismo {
    display: flex;
    flex-flow: row wrap-reverse;
    width: 100%;
    padding: 0px;
  }
}

/* ----------------------------------- */
.imagenUniversidad,
.imagenTurismo {
  width: 15em;
  margin: auto;
  display: block;
}
.imagenFerias {
  width: 50%;
  margin: 20px auto 20px auto;
  display: block;
}
@media (max-width: 768px) {
  .imagenUniversidad,
  .imagenFerias {
    width: 100%;
    position: relative;
    padding: 20px;
  }
}

/* -----------------------------*/
/*   Comunicados de ciudad      */
/* -----------------------------*/

.content-wrap {
  padding: 10px;
  margin-bottom: 30px;
}
.modal-imagen {
  text-decoration: none;
  background: transparent;
  border: none;
}
.contenido-comunicado {
  width: 25%;
}

.contenido-comunicado .modal-content {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content img {
  width: 35%;
  margin: 30px auto;
  display: block;
  position: relative;
}

.fecha-comunicado {
  background: var(--colorAzul);
  margin: 10px auto;
  font-weight: bolder;
}
@media (max-width: 768px) {
  .modal-content img {
    display: block;
    margin: auto;
    width: 100%;
    padding: 15px;
  }
  .fecha-comunicado {
    margin: 10px 0px 0px 0px;
    font-size: 2.7vw;
  }
}
.cerrarVentana {
  color: var(--colorNegro);
  float: right;
  font-size: 58px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 20px 0 auto;
}

.cerrarVentana:hover,
.cerrarVentana:focus {
  color: var(--colorBlanco);
  text-decoration: none;
  cursor: pointer;
}

/* ------------------ */
/* footer */
/* ------------------- */

.footer {
  /* position: absolute; */
  background: var(--colorVerde);
  display: grid;
  color: var(--colorBlanco);
  text-decoration: none;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  bottom: 0;
  width: 100%;

  font-size: 1.1em;
  padding: 20px 80px 20px 80px;
  clear: both;
}
.footer ul {
  padding: 0;
}
.links-footer ul li {
  padding: 5px;
}
.links-empresa ul li {
  padding: 5px;
}

.noticias-recientes img {
  width: 10em;
  margin: 10px;
}
.footer ul li a {
  text-decoration: none;
}

.footer ul,
a {
  text-decoration: none;
  list-style: none;
}

.footer p {
  margin: 0;
}

.icons a {
  font-size: 1.3em;
  color: var(--colorBlanco);
  margin: 0;
}
.icons {
  padding: 0;
}
.contenedorRedes li {
  display: inline;
}

.contenedorRedes li a {
  padding: 5px;
  font-size: 2em;
  color: var(--colorNegro);
  /* border-radius: 3em; */
}

.contenedorRedes {
  grid-row: 2/2;
  grid-column: 3 / 3;
}

.footer a {
  color: var(--colorNegro);
}
.footer .copy {
  margin: 40px 0px 0px 0px;
  margin-right: -130px;
}

.footer .noticias-recientes img {
  width: 10rem;
  padding: 5px;
}
@media (max-width: 768px) {
  .footer {
    grid-row: 1/ 1;
    grid-column: 1 / 1;
    display: block;
    padding: 20px 30px 20px 30px;
  }
  .footer p {
    margin: 0px;
  }
  .footer .copy {
    margin: auto;
  }
}
