/* Estilos principales del css */

:root {
  /* Estilo de la letra */
  --fuentePrincipal: "Roboto", sans-serif;

  /* Estilo de los colores */
  --colorNegro: #000000;
  --colorBlanco: #ffffff;
  --colorVerde: #00a778;
  --colorAzul: #0095de;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--fuentePrincipal);
}

/* Banner de la imagen */
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* Logo */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}

/* Input de buscar */
.buscar {
  position: relative;
  border-radius: 100px;
  border-color: var(--colorNegro);
  size: 1em;
  background-color: transparent;
  width: 20%;
  height: 50px;
}
::placeholder {
  font-family: var(--fuentePrincipal);
  color: var(--colorNegro);
}
