/* Estilos principales del css */

:root {
  /* Estilo de la letra */
  --fuentePrincipal: "Roboto", sans-serif;

  /* Estilo de los colores */
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--fuentePrincipal);
}

/* Banner de la imagen */
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* Logo */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}
